
body {
    /* CSS HEX */
    --color1: #264653ff;
    --color2: #2a9d8fff;
    --color3: #e9c46aff;
    --color4: #f4a261ff;
    --color5: #e76f51ff;

    /* CSS HSL */
    --charcoal: hsla(197, 37%, 24%, 1);
    --persian-green: hsla(173, 58%, 39%, 1);
    --orange-yellow-crayola: hsla(43, 74%, 66%, 1);
    --sandy-brown: hsla(27, 87%, 67%, 1);
    --burnt-sienna: hsla(12, 76%, 61%, 1);
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    background-color: var(--color2);
    font-family: 'Taviraj', serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 400px;
    max-width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    border-radius: 60px;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

h1 {
    display: flex;
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 20px;
    /* animation: pulse 5s infinite ease-in-out; */
}

.top {
    text-align: center;
    font-size: 3em;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    margin-right: 20px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

input { 
    margin-bottom: 10px;
}

button { 
    margin: 10px;
    font-weight: bold;
}




.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

  h4 {
      width: 60%;
      text-align: center;
      font-size: smaller;
      margin-bottom: 10px;
  }

  span {
      font-weight: bolder;
      font-size: small;
  }